html, body {
    margin: 0;
    padding: 0;
  }
  
.container {
    display: flex;
}

.heading {
    flex: 1;
    text-align: center;
    padding: 20px;
}
#canvas {
    flex: 2;
    /* display: block; */
    margin : 150px auto auto auto;
}
  
#spot {
    box-shadow: 10 10 10 10;
} 

.player-container {
    width: 50%;
    float: left;
}

.player {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
}